@model Register
<form method="post" asp-action="Register" asp-controller="Home">
        <div asp-validation-summary="All"></div>
        <div class="input-group input-group">
            <label class="form-label">Name</label>
            <input type="text" id="Fn" placeholder="Enter Name" name="Name"  class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="input-group input-group">

            <label class="form-label">Phone</label>
            <input type="tel" placeholder="Enter Phone" name="Phone" class="form-control">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="input-group input-group">
            <label class="form-label">Email</label>
            <input type="email" placeholder="Enter Email" name="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>        
        <div class="input-group input-group">
            <label class="form-label">Password</label>
            <input type="password" placeholder="Enter Email" name="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="input-group input-group">
            <label class="form-label">Type</label>
            <select name="type" class="form-select">
                <option>Enter type user</option>
                <option value="Doctor">Doctor</option>
                <option value="patient">patient</option>
            </select>
            <span asp-validation-for="type" class="text-danger"></span>
        </div>

        <div class="input-group input-group">
            <label class="form-label">Gender</label>
            <div style="text-align: center">
                <input type="radio" value="male" name="Gender" class="form-check-input"><span>male</span>
                <span style="margin:0 20px"></span>
                <input type="radio" value="female" name="Gender" class="form-check-input"><span>female</span>
            </div>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <input value="Submit" type="submit" class="btn btn-success"/>
    </form>


